/* main: contacts
========================================*/

.form-heading {
	font: 400 26px fira-sansbook, sans-serif;
	color: #3ba8c0;
	line-height: 78px;
	padding: 0px 21px;
	margin: 0 0 25px;
}

.form {
	background: #eff3f7;
	padding-bottom: 20px;
	margin-bottom: 26px;
	border-radius: 5px;
}