/* main: contacts
========================================*/

.main-contacts {
	width: 650px;
	background: #eff3f7;
	border-radius: 5px; 
	overflow: hidden;
}

.form {
	box-sizing: border-box;
	width: 402px;
	margin: 0 auto 20px;
	padding-bottom: 30px;
}

.form-header {
	padding-top: 45px;
	padding-bottom: 45px;
	margin: 0 0 25px;
	font: 400 27px fira-sans-book, sans-serif;
	color: #fff;
	background-color: #48cbe8;
	text-align: center;
	position: relative;
}

.form-header:after {
	content: '';
	position: absolute;
	width: 650px;
	height: 15px;
	left: 0;
	top:118px;
	background: #67dffa;
}

.row {margin-bottom: 20px;}

.contacts-label,
.captcha-label {
	display: block;
	margin-bottom: 5px;
	font: normal 19px fira-sans-light, sans-serif;
	color: #9ca1ae;
	font-size: 19px;
}

.contacts-text {
	box-sizing: border-box;
	width: 192px;
	height: 41px;
	padding-left: 10px;
	border-radius: 5px;
	border: 1px solid #48cbe8;
	font: normal 13px fira-sans-light, sans-serif;
}

.contacts-textarea {
	box-sizing: border-box;
	display: block;
	min-width: 402px;
	max-width: 402px;
	min-height: 183px;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #48cbe8;
	font: normal 13px fira-sans-light, sans-serif;
}
.captcha-label {font-size: 17px;}

.captcha-img {
	display: block;
	width: 193px;
	height: 78px;
}

.input-centering {
	height: 78px;
	line-height: 78px;
}

.captcha {
	box-sizing: border-box;
	height: 32px;
	width: 192px;
	padding-left: 10px;
	border: 1px solid #48cbe8;
	border-radius: 5px;
	font: normal 13px fira-sans-light, sans-serif;
}

.btn-submit {
	display: block;
	width: 137px;
	height: 32px;
	border-radius:5px;
	border: 1px solid #48cbe8;
	font: normal 19px fira-sans-book, sans-serif;
	color: #fff;
	background: #48cbe8;
	border-bottom: 3px solid #3ba8c0;
}

.btn-submit:hover,
.btn-reset:hover {
	border-bottom: none;
	padding-top: 2px;
}


.btn-submit:active {
	border-bottom: none;
	border-top: 3px solid #3ba8c0;
	padding-top: 2px;
}

.btn-reset {
	display: block;
	width: 137px;
	height: 32px;
	border-radius: 5px;
	border: 1px solid #849db5;
	font: normal 19px fira-sans-book, sans-serif;
	color: #fff;
	background: #849db5;
	border-bottom: 3px solid #687b8f;
}

.btn-reset:active {
	border-bottom: none;
	border-top: 3px solid #687b8f;
	padding-top: 2px;
}

input:focus,
textarea:focus, button:focus {outline:none;}

::-webkit-button-placeholder {color: #5acee9;}