/* fonts: firasasns
========================================*/

@font-face {
	font-family: fira-sans-light;
	src: url(/fonts/site-fonts/fira-sans-light.eot);
	src: url(/fonts/site-fonts/fira-sans-light.eot?#iefix) format('embedded-opentype'),
		 url(/fonts/site-fonts/fira-sans-light.woff) format('woff'),
		 url(/fonts/site-fonts/fira-sans-light.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: fira-sans-light-italic;
	src: url(/fonts/site-fonts/fira-sans-light-italic.eot);
	src: url(/fonts/site-fonts/fira-sans-light-italic.eot?#iefix) format('embedded-opentype'),
		 url(/fonts/site-fonts/fira-sans-light-italic.woff) format('woff'),
		 url(/fonts/site-fonts/fira-sans-light-italic.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: fira-sans-book;
	src: url(/fonts/site-fonts/fira-sans-book.eot);
	src: url(/fonts/site-fonts/fira-sans-book.eot?#iefix) format('embedded-opentype'),
		 url(/fonts/site-fonts/fira-sans-book.woff) format('woff'),
		 url(/fonts/site-fonts/fira-sans-book.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: fira-sans-medium;
	src: url(/fonts/site-fonts/fira-sans-medium.eot);
	src: url(/fonts/site-fonts/fira-sans-medium.eot?#iefix) format('embedded-opentype'),
		 url(/fonts/site-fonts/fira-sans-medium.woff) format('woff'),
		 url(/fonts/site-fonts/fira-sans-medium.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}


/* fonts: ProximaNova
========================================*/
@font-face {
	font-family: proxima-nova-cond-semibold;
	src: url(/fonts/site-fonts/proxima-nova-cond-semibold.eot);
	src: url(/fonts/site-fonts/proxima-nova-cond-semibold.eot?#iefix) format('embedded-opentype'),
		 url(/fonts/site-fonts/proxima-nova-cond-semibold.woff2) format('woff2'),
		 url(/fonts/site-fonts/proxima-nova-cond-semibold.woff) format('woff'),
		 url(/fonts/site-fonts/proxima-nova-cond-semibold.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}
