/* basics
==================================================*/
html {
	height: 100%;
}

body {
	height: 100%;
	background: url(/images/background.png) repeat;
	font: normal 1em "fira-sanslight", sans-serif;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}


/* fonts: fira famyly
======================================== */
@font-face {
	font-family: 'fira-sanslight';
	src: url('/fonts/site-fonts/firasans-light.eot');
	src: url('/fonts/site-fonts/firasans-light.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/site-fonts/firasans-light.woff') format('woff'),
		 url('/fonts/site-fonts/firasans-light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira-sansbook';
	src: url('/fonts/site-fonts/firasans-book.eot');
	src: url('/fonts/site-fonts/firasans-book.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/site-fonts/firasans-book.woff') format('woff'),
		 url('/fonts/site-fonts/firasans-book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'fira-sansmedium';
	src: url('/fonts/site-fonts/firasans-medium.eot');
	src: url('/fonts/site-fonts/firasans-medium.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/site-fonts/firasans-medium.woff') format('woff'),
		 url('/fonts/site-fonts/firasans-medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/* fonts: proxoma_nova_cond
======================================== */
@font-face {
	font-family: 'ProximaNovaCond-Semibold';
	src: url('/fonts/site-fonts/ProximaNovaCond-Semibold.eot');
	src: url('/fonts/site-fonts/ProximaNovaCond-Semibold?#iefix') format('embedded-opentype');
	font-weight: normal;
	font-style: normal;
}


/* header
==================================================*/
.header-wrapper {
	background-color: #eff3f7;
	background-image: linear-gradient(to right, #e7eff3, #1c667a, #e7eff3);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	background-size: 100% 3px;
	margin-bottom: 40px;
}

.header {
	height: 111px;
	position: relative;
	max-width: 1200px;
	min-width: 600px;
	margin: 0 auto;
}

.header-logo {
	display: block;
	position: absolute;
	left: 0;
	top: 30px;
}

.header-logo-text {
	position: absolute;
	text-indent: -9999px;
}

.social-wrapper {
	position: absolute;
	right: 0;
	top: 30px;
	padding: 0;
	margin: 0;
}

.social {
	display: inline-block;
	width: 47px;
	height: 47px;
	margin-left: 22px;
	text-indent: -9999px;
}

.social:first-child {
	margin-left: 0;
}

.sprite {
	background-image: url(/images/spritesheet.png);
	background-repeat: no-repeat;
	transition: all .1s;
	display: block;
}

.sprite-vk, .sprite-vk:hover,
.sprite-tw, .sprite-tw:hover,
.sprite-fb, .sprite-fb:hover,
.sprite-git, .sprite-git:hover {
	width: 47px;
	height: 47px;
}

.sprite-vk {background-position: -155px -104px;}
.sprite-vk:hover {background-position: -95px -155px;}
.sprite-tw {background-position: -148px -2px;}
.sprite-tw:hover {background-position: -155px -53px;}
.sprite-fb {background-position: -97px -22px;}
.sprite-fb:hover {background-position: -2px -73px;}
.sprite-git {background-position: -53px -73px;}
.sprite-git:hover {background-position: -104px -73px;}


/* main-wrapper
==================================================*/
.main-wrapper {
	width: 960px;
	margin: 0 auto 40px;
}


/* sidebar basics
==================================================*/
.sidebar {
	width: 250px;
}

.navigation,
.contacts {
	margin-bottom: 40px;
	border-radius: 5px;
	overflow: hidden;
}

.navigation,
.contacts, 
.nav-list,
.nav-item,
.nav-item-link,
.contacts-heading,
.contacts-list,
.email,
.phone,
.skype,
.email-link,
.phone-link,
.skype-link {
	box-sizing: border-box;
}

/* sidebar nav - navigation block
==================================================*/
.nav-list {
	margin: 0;
	padding: 0;
	background-color: #eff3f7;
}

.nav-item {
	padding: 0;
	border-top: 2px solid #3ba8c0;
}

.nav-item-link {
	display: block;
	padding: 20px 20px;
	font: normal 20px fira-sansbook, sans-serif;
	color: #959aa8;
	transition: color .5s;
}

.nav-item-link:hover {
	color: #3ba8c0;
}

.nav-item.current {
	background-color: #3ba8c0;
}

.nav-item-link.current {
	margin-bottom: -2px;
	padding-left: 20px;
	color: #fff;
}

.nav-item.current:hover {
	color: #fff;
}


/* sidebar contacts - contacts block
==================================================*/
.contacts-heading {
	margin: 0;
	padding-left: 30px;
	background-color: #3ba8c0;
	font: normal 21px fira-sansbook, sans-serif;
	color: #fff;
	line-height: 40px;
}

.contacts-list {
	padding: 0;
	margin: 0;
}

.contacts-heading,
.email,
.phone,
.skype {
	height: 40px;
}

.email {
	background-color: #41b9d4;
}

.phone {
	background-color: #48cbe8;
}

.skype {
	background-color: #51daf8;
}

.email-link,
.phone-link,
.skype-link {
	height: 40px;
	font: normal 18px fira-sansbook, sans-serif;
	color: #fff;
	line-height: 38px;
	cursor: pointer;
	transition: all .5s;
	margin-left: 30px;
}

.sprite-email {
	background-position: -97px -2px;
	margin: 9px 0px 0 40px;
}

.sprite-phone {
	margin: 9px 0px 0 40px;
	background-position: -42px -2px;
}

.sprite-skype {
	margin: 9px 0px 0 40px;
	background-position: -95px -124px;
}

.sprite-email,
.sprite-phone,
.sprite-skype {
	display: inline-block;
	width: 21px;
	height: 20px;
	background-image: url(/images/spritesheet.png);
	background-repeat: no-repeat;
}

.email-link:hover,
.phone-link:hover,
.skype-link:hover {
	text-decoration: underline;
}


/* main
==================================================*/
.main {
	width: 650px;
}

.info-block {
	box-sizing: border-box;
	width: 650px;
	background: #eff3f7;
	padding-bottom: 49px;
	margin-bottom: 26px;
	border-radius: 5px;
}

.info-block-heading {
	font: normal 26px fira-sansbook, sans-serif;
	color: #3ba8c0;
	line-height: 78px;
	border-bottom: 2px solid #3ba8c0;
	padding: 14px 21px;;
	display: inline;
}

.basic-info-wrapper {
	box-sizing: border-box;
	width: 650px;
	padding-top: 40px;
	padding-left: 55px;
}

.myface {
	position: relative;
	height: 148px;
	width: 148px;
	overflow: hidden;
	border: 5px solid #32a7bc;
	border-radius: 50%;
	box-sizing: border-box;
}

.shift {
	position: absolute;
	left: -30px;
	top: -20px;
}

.basics {
	box-sizing: border-box;
	width: 420px;
	padding: 0;
	margin-left: 25px;
}

.basics-item {
	margin-bottom: 15px;
}

.key {
	font: normal 16px fira-sansmedium, sans-serif;
}
.value {
	font: normal 16px fira-sansbook, sans-serif;
	margin-left: 20px;
}

.skill-wrapper {
	padding: 0;
	width: 250px;
}
.skill {
	display: inline-block;
	height: 25px;
	padding: 0px 6px;
	margin: 4px 3px;
	border-radius: 2px;
	background-image: linear-gradient(to top, #2e8ca2, #2e8ca2 49%, #3ba8c0 52%, #3ba8c0);
	font: normal 15px "ProximaNovaCond-Semibold", sans-serif;
	color: #fff;
	line-height: 25px;
}

.job, .edu, .classes {
	margin: 25px 10px 20px 120px;
	padding: 0;
	position: relative;
}

.job:after {
	content: "";
	position: absolute;
	width: 36px;
	height: 34px;
	background-image: url(/images/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -2px -2px;
	top: 8px;
	left: -60px;
}

.position {
	font: normal 18px fira-sansbook, sans-serif;
}

.span {
	font: normal 18px fira-sanslight, sans-serif;
}

.edu:after {
	content: "";
	position: absolute;
	width: 26px;
	height: 32px;
	background-image: url(/images/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -67px -2px;
	top: 8px;
	left: -60px;
}

.classes:after {
	content: "";
	position: absolute;
	width: 41px;
	height: 23px;
	background-image: url(/images/spritesheet.png);
	background-repeat: no-repeat;
	background-position: -2px -124px;
	top: 8px;
	left: -65px;
}


/* footer
==================================================*/
.page-wrapper {
	min-height: 100%;
	margin-bottom: -78px;
}

.page-wrapper:after {
	min-height: 78px;
	content: ' ';
	display: block;
}

.footer-wrapper {
	height: 78px;
	background-color: #eff3f7;
	background-image: linear-gradient(to right, #e7eff3, #1c667a, #e7eff3);
	background-repeat: no-repeat;
	background-position: 50% 0%;
	background-size: 100% 3px;
}

.footer {
	max-width: 960px;
	margin: 0 auto;
	position: relative;
	font: normal 14px fira-sanslight, sans-serif;
}


.sprite-login {
	position: absolute;
	top: 30px;
	left: 50px;
	height: 32px;
	width: 20px;
	background-position: -47px -124px;
}

.sprite-login:hover {
	width: 20px;
	height: 32px;
	background-position: -71px -124px;
}

.login {
	display: block;
	height: 32px;
	padding-left: 35px;
	line-height: 2.2;
	color: #687078;
}

.copyright {
	text-align: center;
	padding-top: 30px;
	margin: 0 200px;
}


/* horisontal positioning. cf - clearfix
==================================================*/
.fl {
	float: left;
}

.fr {
	float: right;
}

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}