/* main: myworks
========================================*/
.myworks-wrapper {
	width: 650px;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}

.myworks-item {
	display: inline-block;
	vertical-align: top;
	width: 183px;
	text-align: center;
	margin: 0 15px 30px;
	padding: 0;
	box-sizing: border-box;
	position: relative;
}

.myworks-item-thumb {
	border-radius: 3px;
	height: 129px;
	margin-bottom: 15px;
	overflow: hidden;
}

.project-header {margin: 0;}

.desc,
.project-header {
	font: normal 15px fira-sans-light, sans-serif;
	line-height: 1.3;
}

.project-link {
	font: normal 15px fira-sans-light-italic, sans-serif;
}

.add-new-item {
	box-sizing: border-box;
	border: 1px dashed #3ba8c0;
	background: #edf8fc;
	font: normal 13px fira-sans-light, sans-serif;;
}

.add-project-link {
	display: inline-block;
	vertical-align: middle;
}

.icon-add-project {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(/images/icon-add-project.png);
	margin: 0 auto 10px;
}

/*overlay effect*/
.overlay {
	box-sizing: border-box;
	top: 0;
	text-align: center;
	transition: all .35s;
	vertical-align: middle;
	opacity: 0;
	border-radius: 5px;
	width: 100%;
	position: absolute;
	height: 129px;
}

.overlay:before, .add-new-item:before {
	content: '';
	vertical-align: middle;
	height: 100%;
	display: inline-block;
}

.myworks-item-thumb:hover .overlay {
	background: rgba(0,0,0,.4);
	opacity: 1;
}

.overlay-link {
	display: inline-block;
	vertical-align: middle;
	box-sizing: border-box;
	font: normal 15px fira-sans-light, sans-serif;
	border: 2px solid #fff;
	border-radius: 5px;
	padding: 3px 8px;
	color: #fff;
	text-decoration: none;
}
/*end of overlay effect*/

/* main: add project popup
========================================*/
#new-project-popup {
	display: none;
	width: 360px;
	background: #eff3f7;
	border-radius: 5px;
	overflow: hidden;
}

.b-close {
	position: absolute;
	background-image: url(/images/btn-close.png);
	width: 25px;
	height: 25px;
	padding: 0;
	margin: 0;
	border: none;
	right: 11px;
	z-index: 1;
	top: 13px;
}

.modal-header {
	position: relative;
	margin-bottom: 20px;
}

.modal-title {
	position: relative;
	margin: 0 0 5px;
	padding: 6px 0 5px 10px;
	background-color: #48cbe8;
	font: 400 normal 25px fira-sans-light, sans-serif;
	color: #fff;
}

.modal-body {
	width: 320px;
	margin: 0 auto;}

.form-group {margin-bottom: 12px;position: relative;}

.server-mes {display: none;}

.error-mes {display: none;}

.label {
	display: block;
	font: 400 normal 17px fira-sans-book, sans-serif;
	color: #959aa8;
}

.input {
	width: 320px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	height: 41px;
	padding-left: 10px;
	box-sizing: border-box;
	font: 400 normal 13px fira-sans-light, sans-serif;
	background-color: #fbfcfd;
	color: #6ad2eb;
}

.textarea {
	min-width: 320px;
	max-width: 320px;
	box-sizing: border-box;
	border-radius: 3px;
	font: 400 normal 13px fira-sans-light, sans-serif;
	padding-left: 10px;
	border-color: #48cbe8;
	color: #6ad2eb;
}

.btn-wrapper {margin-bottom: 20px;}

.btn-submit {
	display: block;
	width: 137px;
	height: 32px;
	border-radius:5px;
	border: 1px solid #48cbe8;
	font: normal 19px fira-sans-book, sans-serif;
	color: #fff;
	background: #48cbe8;
	border-bottom: 3px solid #3ba8c0;
	margin: 0 auto;
}

.btn-submit:hover {
	border-bottom: none;
	padding-top: 2px;
}

.btn-submit:active {
	border-bottom: none;
	border-top: 3px solid #3ba8c0;
	padding-top: 2px;
}


.file-upload-label {
	display: block;
	position: absolute;
	height: 41px;
	width: 52px;
	background: url(../images/btn-add.png) 10px 7px no-repeat;
	right: 0;
	background-color: #48cbe8;
	border-radius: 0 3px 3px 0;
}

.file-upload-name {
	position: absolute;
	font: 400 normal 13px fira-sans-light, sans-serif;
	display: block;
	width: 320px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fbfcfd;
	height: 41px;
	padding: 10px;
	color: #6ad2eb;
}

input:focus,
textarea:focus, button:focus {outline:none;}

::-webkit-input-placeholder {color: #5acee9;}


.modal-header:after {
	position: absolute;
	height: 10px;
	background-color: #67dffa;
	top: 50px;
	content: '';
	width: 360px;
	left: 0;
}

.server-mes {
	width: 320px;
	border: 1px solid #48cbe8;
	border-radius: 3px;
	height: 41px;
	padding-left: 10px;
	box-sizing: border-box;
	font: 400 normal 15px fira-sans-light, sans-serif;
	background-color: #fbfcfd;
	color: #6ad2eb;
}

.success-mes {background:#d4f7e9}

.error-mes {background: #fdd5d2}

.has-error {background: #fdd5d2; border: 1px solid red;}

.file-upload-input {
	width: 0;
	height: 0;
	border: 0;}

.file-name-input {
	width: 100%;
	box-sizing: border-box;
}